.container {
  overflow-x: hidden !important;
}
.login-or-signup .login-btn {
  background: linear-gradient(#8bc9f6, rgba(211, 63, 189, 0.856));
  padding: 6px 25px;
  border-radius: 20px;
  border: none;
  /* box-shadow: -5px -5px 5px rgba(211, 63, 189, 0.856); */
  color: rgba(255, 255, 255, 0.836);
  font-weight: 500;
  outline: none;
  transition: all 0.5s;
}
.custome-bg {
  background: rgba(0, 0, 0, 0.945);
}
.nav_link {
  font-size: 16px;
  transition: all 0.5s !important;
  font-weight: 500;
}
